/* normalize */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

/* Reset*/

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #ff9900;
    --color-grey: #6e7675;
    --color-blue: #4bace3;
    --color-dark-blue: #00a3ff;
    --color-green: #33ddbb;
    --color-red: #ee6870;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-grey);
    background-color: var(--color-white);
}

img {
    max-width: 100%;
}

a {
    line-height: 1;
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

strong {
    font-weight: 700;
}

button {
    font-size: 0;
    line-height: 1;
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: left;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    display: block;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1300px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.btn_trnsp {
    color: var(--color-grey);
    border: 1px solid #c4c6c6;
}

.btn_trnsp:hover {
    color: var(--color-white);
    background-image: linear-gradient(180deg, #0ECCAA 0%, #4BACE3 100%);
    border-color: transparent;
    text-decoration: none;
}

.btn_blue {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.btn_blue:hover {
    background-image: linear-gradient(180deg, #0ECCAA 0%, #4BACE3 100%);
    border-color: transparent;
}


/*service list */

.services__heading {
    margin-bottom: 40px;
    padding: 8px 0 12px;
    background-color: var(--color-green);
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-white);
}

.services-nav {
    margin-bottom: 60px;
}

.services-nav__list {
    display: flex;
    align-items: baseline;
    gap: 0 30px;
}

.services-nav__item {
    flex: 0 1 auto;
}

.services-nav__btn {
    position: relative;
    font-size: 1.375rem;
    line-height: 1.2;
    text-align: left;
    min-height: 83px;
    color: var(--color-grey);
    text-decoration: none;
}

.services-nav__btn:hover,
.services-nav__btn:active,
.services-nav__btn:focus {
    text-decoration: none;
    color: var(--color-grey);
    outline: none;
}

.services-nav__btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 0;
    height: 5px;
    background-color: var(--color-green);
    transition: .3s ease-in-out;
}

.services-nav__btn.is-active::before {
    width: 100%;
}

.services {
    margin-bottom: 80px;
}

.services__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 12px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    transition: all .3s ease;
}

.services__title:not(.collapsed) {
    border-color: transparent;
}

.services__title svg {
    transform: rotate(-180deg);
    transition: all .3s ease;
}

.services__title.collapsed svg {
    transform: rotate(0);
    fill: var(--color-grey);
}

.services__title:hover {
    background-color: var(--color-green);
    border-color: transparent;
    color: var(--color-white);
}

.services__title:hover svg {
    fill: var(--color-white);
}

.services__list {
    margin-top: 30px;
}

.services__item {
    display: flex;
    align-items: center;
    gap: 0 35px;
    margin-bottom: 50px;
    border: 1px solid #c4c6c6;
    border-radius: 15px;
}

.services__item:last-child {
    margin-bottom: 70px;
}

.services__img {
    border-radius: 8px;
}

.services__content {
    padding-top: 25px;
    padding-bottom: 35px;
}

.services__caption {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 32px;
}

.services__caption::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 42px;
    height: 4px;
    background-color: var(--color-red);
}

.services__description {
    margin-bottom: 35px;
    font-size: 1.125rem;
    padding-right: 40px;
}

.services__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

.services__price {
    font-size: 1.125rem;
    font-weight: 600;
}

.services__price span {
    color: var(--color-blue);
}

.services__price b {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--color-dark-blue);
}

.services__btns {
    display: flex;
    justify-content: flex-end;
    gap: 0 30px;
}

.services__btn {
    width: 195px;
    height: 45px;
}

.services-faq__wrapper {
    display: flex;
    align-items: flex-start;
}

.services-faq__left {
    width: 60%;
    margin-right: 60px;
}

.services-faq__item {
    margin-bottom: 10px;
}

.services-faq__title {
    position: relative;
    padding: 8px 0 12px;
    margin-bottom: 25px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
}

.services-faq__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
}

.services-faq__caption {
    margin-bottom: 15px;
    font-size: 1.125rem;
    color: #898F8E;
}

.services-faq__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    font-size: 1.125rem;
    color: var(--color-grey);
    font-weight: 800;
    background-color: #f5f5f5;
    width: 100%;
}

.services-faq__btn svg {
    flex: 0 0 auto;
    margin-left: 20px;
    transform: rotate(-180deg);
    transition: all .3s ease;
}

.services-faq__btn.collapsed svg {
    transform: rotate(0);
    fill: var(--color-grey);
}

.services-faq__hide {
    padding: 8px 20px;
}

.services-faq__hide p {
    margin-bottom: 15px;
    font-size: 1.125rem;
}

.services-faq__hide p:last-child {
    margin-bottom: 0;
}

.services-faq__hide ul {
    list-style-type: disc;
}

.services-faq__hide li {
    font-size: 1.125rem;
}

/* Service in */

.service-hero__wrpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-hero__info {
    flex: 0 0 30%;
    max-width: 30%;
}

.service-hero__img {
    flex: 0 0 65%;
    max-width: 65%;
}

.service-hero__title {
    margin-bottom: 50px;
    font-size: 2rem;
    color: var(--color-grey);
    font-weight: 700;
    line-height: 1.2;
}

.service-hero__btns {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.service-hero__btn {
    width: 214px;
    height: 65px;
    font-size: 1.625rem;
}

.service-rules {
    margin-bottom: 80px;
}

.service-rules__wrapper {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.service-rules__img {
    width: 40%;
}

.service-rules__info {
    width: 55%;
}

.service-rules__caption {
    margin-bottom: 30px;
    color: #797D85;
    font-size: 2rem;
}

.service-rules__list {
    list-style-type: disc;
    padding-left: 40px;
}

.service-rules__list li {
    font-size: 1.125rem;
    color: #797D85;
    line-height: 32px;

}

.service-adv {
    padding-bottom: 50px;
    margin-bottom: 30px;
    background: rgb(242, 255, 253);
}

.service-adv__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 3vw;
}

.service-adv__img {
    width: 15vw;
    height: 8vw;
    max-width: 640px;
    max-height: 341px;
}

.service-adv__text {
    font-size: 1.125rem;
    color: #797D85;
}

.service-who {
    margin-bottom: 80px;
}

.service-who__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 30px;
}

.service-who__item {
    flex: 0 0 calc(33% - 2 * 30px);
}

.service-who__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid #83CEF9;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(74, 172, 226, 0.25);
}

.service-who__caption {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 32px;
}

.service-who__caption::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 42px;
    height: 4px;
    background-color: var(--color-red);
}

.service-who__text {
    font-size: 1.125rem;
    line-height: 32px;
}

.service-heading {
    margin-bottom: 60px;
    padding: 8px 0 12px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
}

.service-count {
    margin-bottom: 80px;
}

.service-steps {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.service-steps__item {
    position: relative;
    flex: 0 0 270px;
}

.service-steps__item.is-active .service-steps__number {
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: var(--color-white);
}

.service-steps__item.is-active .service-steps__caption {
    color: var(--color-red);
}

.service-steps__item::before {
    content: '';
    position: absolute;
    top: 30%;
    right: -85px;
    width: 100%;
    max-width: 140px;
    height: 3px;
    background-color: #E1E4E4;
}

.service-steps__item:last-child::before {
    content: none;
}

.service-steps__item.is-active::before {
    background-color: var(--color-red);
}

.service-steps__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #ADB3B2;
    font-size: 15px;
    font-weight: 700;
    color: #ADB3B2;
}

.service-steps__caption {
    font-size: 1.125rem;
    color: #ADB3B2;
}

.service-form {
    padding: 20px 20px 30px;
    border-radius: 8px;
    border: 1px solid #C4C6C6;
    background: #FBFBFB;
}

.service-form__group {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E1E4E4;
}

.service-form__group_radio {
    gap: 0 70px;
    align-items: flex-end;

}

.service-form__caption {
    margin-bottom: 20px;
    font-weight: 700;
    color: #797979;
    font-size: 1.25rem;
}

.service-form__caption sup {
    color: var(--color-red);
    font-size: 1rem;
    font-weight: 700;
}

.service-form__tooltip {
    cursor: help;
}

.service-form__label {
    width: 298px;
}

.service-form__input {
    padding: 0 10px 0 30px;
    width: 100%;
    height: 70px;
    color: #797979;
    font-size: 20px;
}

.service-form__input::placeholder {
    color: #BEC8D4;
    font-size: 20px;
}

.service-form__submit {
    margin-left: auto;
    width: 374px;
    height: 65px;
    font-size: 1.625rem;
    max-width: 100%;
}

.radiobutton {
    display: none;
}

.radiobutton__label {
    position: relative;
    display: block;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.125rem;
    color: #797979;
    margin: 0;
    width: auto;
}

.radiobutton+.radiobutton__pane {
    position: absolute;
    top: 3px;
    left: 0;
    width: 23px;
    height: 23px;
    border: 2px solid var(--color-blue);
    border-radius: 50%;
}

.radiobutton+.radiobutton__pane::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--color-blue);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.radiobutton:checked+.radiobutton__pane::before {
    opacity: 1;
}

.service-providers {
    margin-bottom: 50px;
}

.service-providers__item {
    display: flex;
    gap: 0 40px;
}

.service-providers__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 32%;
    height: 365px;
    background-color: #D0EBFB;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.service-providers__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 228px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.service-reviews {
    margin-bottom: 135px;
}

.service-reviews__item {
    padding: 30px 30px 40px 30px;
    border-radius: 15px;
    background: #F2FFFD;
}

.service-reviews__heading {
    display: flex;
    align-items: center;
    gap: 0 21px;
    margin-bottom: 20px;
}

.service-reviews__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.service-reviews__name {
    color: var(--color-grey);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.375rem;
}

.service-reviews__age {
    color: var(--color-grey);
    font-size: 1.125rem;
}
.service-reviews__content {
    color: var(--color-grey);
    font-size: 1.375rem;
    line-height: 32px;
}
.service-revirews__navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    width: 100%;
    gap: 0 50px;
}
.service-revirews__btn svg {
    fill: #4D4D4D;
    transition: fill .3s ease;
}
.service-revirews__btn:hover svg {
    fill: var(--color-blue);
}
.service-faq {
    margin-bottom: 80px;
}

.service-other {
    margin-bottom: 80px;
}
.service-other__item {
   margin-bottom: 50px; 
}
.service-other__item:last-child {
    margin-bottom: 0;
}
.service-other__caption {
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--color-grey);
    font-size: 1.375rem;
}
.service-other__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.service-other__list-item {
    margin-bottom: 10px;
    width: 50%;
}
.service-other__link {
    font-size: 1.125rem;
    color: var(--color-blue);
    text-decoration: underline;
}
.service-other__link:hover {
    color: var(--color-dark-blue);
}
.seo-text p:not(:last-child) {
    margin-bottom: 20px;
}
.seo-text h2 {
    margin-bottom: 20px;
}
.seo-text ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}
@media (max-width: 1440px) {
    html {
        font-size: 14px;
    }
    .container {
        max-width: 80%;
    }
    .services__bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px 0;
    }
}
@media (max-width: 1280px) {
    .services-nav__btn {
        font-size: 1.125rem;
    }
    .services__item {
        align-items: flex-start;
    }
}
@media (max-width: 1024px) { 
    .service-hero__info {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .service-adv__list {
        flex-wrap: wrap;
        gap: 20px;
    }
    .service-adv__item {
        flex: 0 0 48%;
        max-width: 48%;
    }
    .service-form__group {
        flex-wrap: wrap;
        gap: 20px;
    }
    .service-steps__item {
        flex: 0 0 20%;
    }
    .service-steps__caption {
        display: none;
    }
    .service-steps__item::before {
        right: -75px;
        width: 75%;
    }
    .service-rules__wrapper {
        flex-direction: column;
    }
    .service-rules__info {
        width: 100%;
    }
    .service-rules__img {
        width: 50%;
    }
    .services-faq__wrapper {
        flex-direction: column;
    }
    .services-faq__left {
        width: 100%;
        margin-right: 0;
        order: 2;
    }
    .services-faq__img {
        width: 50%;
        margin: 0 auto 20px;
    }
    .service-other__link {
        line-height: 1.2;
    }
    .services-nav__list {
        flex-wrap: wrap;
        gap: 30px;
    }
    .services__item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services__content {
        padding: 20px;
    }
}
@media (max-width: 768px) { 
    .service-adv__list {
        justify-content: center;
        align-items: center;
    }
    .service-adv__item {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .service-adv__img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: none;
        margin-bottom: 15px;
    }
    .service-steps__item::before {
        right: -6vw;
        width: 55%;
    }
    .service-who__list {
        flex-direction: column;
        gap: 30px 0;
    }
    .service-who__item {
        flex: 0 0 100%;
        text-align: center;
    }
    .service-who__caption::before {
        right: 0;
        margin: 0 auto;
    }
    .service-providers__left {
        width: 100%;
        padding: 10px 0;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
    .service-hero__btns {
        flex-direction: column;
        gap: 20px 0;
        align-items: flex-start;
    }
    .services__title {
        font-size: 1.125rem;
    }
    .services__title.collapsed svg {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 576px) { 
    .container {
        max-width: 100%;
    }
    .services__content {
        max-width: 100%;
    }
    .services__img {
        width: 100%;
    }
    .service-hero__img {
        display: none;
    }
    .service-hero__info {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 20px 0;
    }
    .service-hero__btn {
        height: 50px;
    }
    .service-steps__item::before {
        right: -7vw;
        width: 50%;
    }
    .service-other__list-item {
        width: 100%;
    }
    .service-rules__img {
        width: 100%;
    }
    .services__btns {
        flex-direction: column;
        gap: 20px 0;
    }
    .services-faq__img {
        width: 100%;
    }
}